linkedin_profile_urls.pkl
outputsproposals
outputsemails
outputs
google-cloud-sdk
token.pickle
client_secret_1074185800536-oqr735mbkgotvukrlgkg5gpmlfko124u.apps.googleusercontent.com.json
creds.json
.env
token.json
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.xlsx
*.xls
*.json
*.pickle
*.pkl
*.tmp
*.bak
*.swp